/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--bg-gradient: linear-gradient(45deg, #e66465, #9198e5) fixed;
	--text-color: #f0f0f0;
	--border-color: #dddddd;
	--section-color: #d0d0d0;
	--link-resting: white;
	--line: white;
	--link-hover: #397cbf;
	--accent1: #b22222;
	--accent2: #3a539b;
	--accent3: #FFD700;
}
[data-theme='glass'] {
	--bg-gradient: linear-gradient(45deg, #000428, #004e92) fixed;
	--text-color: #f0f0f0;
	--border-color: #dddddd;
	--section-color: #d0d0d0;
	--link-resting: white;
	--line: white;
	--link-hover: #4da6ff;
	--accent1: #ff4d4d;
	--accent2: #66b3ff;
	--accent3: #FFD700;
}

body {
	background: var(--bg-gradient);
	color: var(--text-color);
	font-family: 'Courier New', monospace;
	transition: --bg-gradient 0.3s ease, color 0.3s ease;
}

main {
	width: 35vw;
	border: 3px solid var(--border-color);
	border-radius: 30px;
	padding: 10px;

	margin: 10px auto;
	text-wrap: wrap;
}
@media (max-width: 600px) {
	main {
		width: 70vw;  /* Adjust the width for mobile */
	}
}

p {
	word-break: normal;
}
p.crypto {
	word-break: break-all;
}

.logo {
	text-align: center;
	max-width: 200px;
	max-height: 200px;
}

hr {
	color: var(--line);
}

section {
	color: var(--section-color);
	margin-left: 10%;
}

a {
	color: var(--link-resting);
	transition: color 0.5s ease-in-out;
}
a:visited {
	color: var(--link-resting);
}
a:hover {
	color: var(--link-hover);
}

.noshow {
	display: none;
}

button {
	background: none;
	border: 2px dashed white;
	padding: 5px;
	border-radius: 10px;
	color: var(--link-resting);
	transition: color 0.5s ease-in-out, border 0.5s ease-in-out;
}
button:hover {
	border: 2px solid var(--link-hover);
	color: var(--link-hover);
}

r {
	color: var(--accent1);
}
bl {
	color: var(--accent2);
}
y {
	color: var(--accent3);
}

blockquote {
	font-style: italic;
	border-left: 4px solid var(--accent3);
	margin-left: 4px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	padding: 8px;
	border-radius: 10px;
}

code {
	border: 1px solid var(--border-color);
	border-radius: 3px;
	padding: 0.1rem;
	backdrop-filter: blur(10px);
}
li {
	margin: 3px 0;
}

.theme-selector {
	border: 1px solid var(--border-color);
	border-radius: 3px;
	background: none;
	color: var(--text-color);
	margin: 5px;
	width: 20%;
	text-align: center;
}